fastapi
uvicorn
pinecone
sentence-transformers
transformers
torch
tqdm
python-dotenv
huggingface-hub
pandas
httpx
langchain
google-generativeai
streamlit 
openai 
langchain-community
langchain
faiss-cpu
pytest











