# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
t5-small-finetuned/
# Virtual Environment
venv/
env/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.sqlite3
*.db

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# FastAPI specific
.pytest_cache/

# Ignore specific folders
bin/
certifi/
charset_normalizer/
idna/
requests/
charset_normalizer-3.4.2.dist-info/
requests/
urllib3/
idna-3.10.dist-info/
urllib3/
requests-2.31.0.dist-info/
cert.dist-info/
charset_normalizer-3.4.2.dist-i/
urllib3-2.4.0.dist-info/
certifi-2025.4.26.dist-info/